*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}.card{
    height: 300px;
    width: 500px;
    background-color: #d9d6d6;
    border-radius: 5px;
    /* border: none; */
    padding: 30px;
    box-shadow: 70px ,15px, 10px, red;
}
p{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}
span{
    color: #324f90;
}
.outer{
    height: 20px;
    width: 100%;
    background-color: #a89191;
    border-radius: 12px;
    margin-top: 50px;
    
}
.inner{
    height: 100%;
    width: 0%;
    background-color: #324f90;
    border-radius: 50px;
   
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px;
}
h2{
    font-size: 30px;
    font-weight: 300;
}
 button{
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #165a18;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
button:active{
    transform: scale(0.95);
} 