*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(36, 34, 34);
}
button{
    padding: 20px 30px;
    font-size: 30px;
    font-weight: 800;
    border: none;
    border-radius:10px;
    cursor:pointer;
    /* background-color: #e8e0e0; */
    transition: all 0.2s ease;
    position: relative;
    z-index: 10;
    white-space: nowrap;

}
button:active{
    transform: scale(1.1);
    background-color: #d31010;
}