*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.card{
    background-color: #e5dada;
    border-radius: 10px;
}
.card div{
    border-radius: 20px;
    width: 250px;    
    position: relative;
    overflow: hidden;
}
.card img{
   width: 100%;
   height: 100%;
    object-fit: cover; 
    padding: 20px;
    margin-bottom: 0;
    
}
.card h2{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    font-size: 70px;
               /* //COMPLETED CODE// */
    background-image: url(https://t3.ftcdn.net/jpg/01/15/99/56/360_F_115995657_RKhfaUiWm4L024V7owDclbCKxQBPIhIZ.jpg);
    background-size:cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transform:translate(-50%,-50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.6,1.48,.47,.97) 0.4s;


}